doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Ваш сайт
  body
    h2 Личная страница (блог) Новиков Никита Геннадьевич
    header
      nav
        ul
          li
            a(href='./index1.html') Приветствие
          li
            a(href='./index.html') Главная
          li
            a(href='./rozklad.html') Мое расписание
          li
            a(href='./photo.html') Фотоальбом
          li
            a(href='./news.html') Последние новости
    section
      h1 Мои заметки
      article
        ul
          li Купить хлеб
          li Заехать в офис
          li Вечером сходить в зал
    section
      h1 Цитаты
      article
        ul
          li
            | Чтобы получить от жизни то, чего хочешь, необходимо в первую очередь определить, а чего же ты
            | хочешь. Киану Ривз
          li
            | Такое простое действие, как обращать внимание, может отнять у вас много времени. Киану Ривз
          li
            | Не совершай классическую ошибку всех умников: не думай, что нет людей умнее тебя. Карл Ван Лун
          li Каждый живет, как хочет, и расплачивается за это сам. Дориан Грей
    footer
      p Copyright 2020 Мой блог 
