doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Фотоальбом
  body
    h2 Личная страница (блог) Новиков Никита Геннадьевич
    header
      nav
        ul
          li
            a(href='./index.html') Главная
          li
            a(href='./rozklad.html') Мое расписание
          li
            a(href='./photo.html') Фотоальбом
          li
            a(href='./news.html') Последние новости
    section
      h1 Фотоальбом
      article
        img(width='400', height='255', src='https://cdn.segodnya.ua/i/image_630x354/media/image/5e2/430/5d2/5e24305d22db8.jpg', alt='')
        br
        a(href='../images/5e24305d22db8.jpg') Оригинал
        p Конор Магрегор на ufc 246
        p Размер оригинала 630x354
      article
        img(width='400', height='255', src='../images/встреча_с_другом.jpg', alt='')
        br
        a(href='../images/встреча_с_другом.jpg') Оригинал
        p Конор Магрегор с другом
        p Размер оригинала 1080x810
      article
        img(width='400', height='255', src='../images/подготовка_к_сборам.jpg', alt='')
        br
        a(href='../images/подготовка_к_сборам.jpg') Оригинал
        p Подготовка к сборам
        p Размер оригинала 1080x1349
      article
        img(width='400', height='255', src='../images/подготовка_к_турниру.jpg', alt='')
        br
        a(href='../images/подготовка_к_турниру.jpg') Оригинал
        p Подготовка к турниру
        p Размер оригинала 1080x720
      article
        img(width='400', height='255', src='../images/катание_на_велосипедах.jpg', alt='')
        br
        a(href='../images/катание_на_велосипедах.jpg') Оригинал
        p Катание на велосипедах
        p Размер оригинала 1080x1080
      article
        img(width='400', height='255', src='../images/поход_в_театр.jpg', alt='')
        br
        a(href='../images/поход_в_театр.jpg') Оригинал
        p Поход в театр с семьей
        p Размер оригинала 1080x1080
      article
        img(width='400', height='255', src='../images/спарринг.jpg', alt='')
        br
        a(href='../images/спарринг.jpg') Оригинал
        p Команда Конора
        p Размер оригинала 1080x720
    footer
      p Copyright 2020 Мой блог
