doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Расписание
    link(rel='stylesheet', href='../css/rozklad.css')
  body
    h2 Личная страница (блог) Новиков Никита Геннадьевич
    header
      nav
        ul
          li
            a(href='./index.html') Главная
          li
            a(href='./rozklad.html') Мое расписание
          li
            a(href='./photo.html') Фотоальбом
          li
            a(href='./news.html') Последние новости
    section
      h1 Мое расписание
      article
        table#my_table(border='1', width='100%', cellpadding='5')
          tbody
            tr.header-table
              th Вторник
              th Среда
              th Четверг
              th Пятница
            tr
              td
                div
                hr
                div
                  | 14-30. Язык программирования Java. Доц. Горбенко В.И ауд. 37(1)
              td
                | 14-30. Основы автоматизированного проектирования сложных объектов и систем. Доц. Кудин А.В. ауд.
                | 408(2)
              td 12-55. Технологии и протоколы Internet. Доц. Лисняк А.О ауд. 36(1)
              td 11-25. Язык программирования Java. Доц. Горбенко В.И ауд. 50(1)
            tr
              td 16-05. Язык программирования Java. Доц. Горбенко В.И ауд. 37(1)
              td 16-05. Практикум по программированию. Доц. Стреляев Ю.М. ауд. 41(1)
              td 14-30. Численные методы в информатике. Доц. Левчук С.А. ауд. 36(1)
              td 12-55. Английский язык. Доц. Вертегел В.Л ауд. 507(6)
            tr
              td 17-40. Технологии и протоколы Internet. Ас. Лебедь М.В ауд. 40(1)
              td 17-40. Практикум по программированию. Доц. Стреляев Ю.М. ауд. 41(1)
              td
              td 14-30. Основы автоматизированного проектирования. Ас. Кривохата А.Г ауд. 40(1)
            tr
              td
              td
              td
              td 16-05. Основы автоматизированного проектирования. Ас. Кривохата А.Г ауд. 40(1)
    footer
      p Copyright 2020 Мой блог
